* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  margin: 0;
  padding: 0;
}

#container {
  display: inline-block;
  position: relative;
}

#main-canvas {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

#support-canvas {
  position: absolute;
  z-index: -1;
}
